@font-face {
    font-family: 'Proxima';
    src: url('../fonts/ProximaNova-Regular.otf')
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.otf')
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.ttf')
}

@font-face {
    font-family: 'Georgia-Italic';
    src: url('../fonts/Georgia\ Italic.ttf')
}