/* --------------------------------- nulling--------------------------------------------------- */
@import url(./fonts.css);
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/* -------------------------------------------------------------------------------------------- */
/* ----- tag selectors ----- */
body {
  font-family: 'Proxima';
  text-align: center;
  color: #303030; }

/* ----- tag selectors ----- */
/* ----- common styles ----- */
.side-padding {
  padding: 0 40px; }

.container {
  max-width: 900px;
  margin: auto; }

/* ----- common styles ----- */
/* ----- header styles ----- */
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 41px 0 42px; }

.logo {
  min-width: 73px;
  margin-right: 30px; }

.nav {
  max-width: 332px;
  width: 100%; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'Gotham-Medium';
  font-size: 12px; }
  .nav__list .nav__link {
    margin-left: 20px;
    color: #adadad; }

/* ----- header styles ----- */
/* ----- title section styles ----- */
.title-sec {
  background-image: url("/img/title-sec-bg.png");
  background-size: cover; }
  .title-sec__content {
    padding: 172px 0 53px; }
  .title-sec__title {
    max-width: 415px;
    margin: auto;
    font-family: 'Gotham-Bold';
    font-size: 40px; }
  .title-sec__desc {
    display: inline-block;
    margin-top: 32px;
    font-family: 'Georgia-Italic';
    font-size: 16px;
    color: #5a5a5a; }
  .title-sec__arrow {
    margin: 67px auto 0; }

.arrow {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #797d6422; }
  .arrow__link {
    position: absolute;
    top: 50%;
    right: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-right: -25px;
    background-color: #ffffff;
    border-radius: 50%; }
  .arrow__icon {
    font-size: 20px;
    color: #525252; }

/* ----- title section styles ----- */
